/** Simple Founder Effect Model */
initialize() {
	initializeSLiMModelType("nonWF");
	initializeSLiMOptions(keepPedigrees = T);
	
	/** Population parameters */
	defineConstant("p1_K", 2500); // carrying capacity for p1
	defineConstant("p2_K_init", 300); // initial bottleneck carrying capacity for p2
	defineConstant("p2_K_max", 1500); // final carrying capacity for p2
	defineGlobal("p2_K", p2_K_init); // mutable K value over time
	defineConstant("r", 5.0); // average expected offspring per adult


	/** Y-STR mutation model parameters */
	defineConstant("num_STR_loci", 12); // number of STR loci to track
	
	// average mutation rate and sd per 25 yrs based on https://doi.org/10.1086/380911
	defineConstant("muSTR_mean", 0.00069); // per-locus mutation rate average
	defineConstant("muSTR_sd", 0.00057); // standard deviation of mutation rate
	defineConstant("STR_step_prob", 0.5); // equal probability of increasing or decreasing by one repeat
	defineConstant("STR_min", 5); // absolute min repeat number
	defineConstant("STR_max", 35); // absolute max repeat number
	
	/** Haplogroup & haplotype base profiles*/
	defineConstant("numHG", 2);
	defineConstant("HGnames", c("HG1", "HG2"));
		
	defineConstant("HGbase", rbind(
		c(13,24,14,11,13,29,13,11,14,15,12,12),
		c(12,25,16,10,12,31,11,12,15,14,10,11)
	)); // need to explicitly define haplotypes (matrix indexing in slim is column, not row based)

	defineConstant("HGfreq", c(0.50, 0.50));
	// initialize storage dictionary for each HG by individual ID
	defineGlobal("IndHG", Dictionary());
	// initialize storage dictionary for each STR by individual ID
	defineGlobal("Ystr", Dictionary());
	
	// per-locus mutation rates drawn from log normal distribution
	x = rlnorm(num_STR_loci, log(muSTR_mean), muSTR_sd);
	y = pmax(pmin(x, 0.01), 0.0001);
	defineConstant("locus_mu", y);
	cat("Per-locus mutation rates:\n" + paste(locus_mu, sep=", "));
	
	/** Demographic parameters*/
	defineConstant("Male", 1);
	defineConstant("Female", 0);
	defineConstant("numMig", 50);
	
	/** Patriline mapping **/
	defineGlobal("PatID", Dictionary());
	defineGlobal("nextPatID", 1);
		
	// file parameters
	if (!exists("replicate")) replicate = 1;
	defineGlobal("fname", "single_migration_sim_10pat_rep" + replicate + ".csv");
	defineConstant("workingdir", "/Users/mann/github/2025-modeling_strs/results");
}

// ======================================================
// create source population assign Y haplotypes to males
1 early() {
	sim.addSubpop("p1", 500); // starting with a small population, growth to carrying capacity

	for (subpop in sim.subpopulations) {
		for (ind in subpop.individuals) {
		 // randomly assign males and females
			ind.tag = (runif(1) < 0.5) ? Male else Female;
			ind.age = asInteger(runif(1, 15, 60)); // starting population has ages between 15 and 60
			
			if (ind.tag == Male) {
				hg_index = sample(seqLen(numHG), 1, weights = HGfreq);
				hg_name = HGnames[hg_index];
				base_hap = HGbase[hg_index,];
				
				// add some minimal random variation around the base haplotype
				hap = asInteger(base_hap + rnorm(num_STR_loci, 0, 0.3)); // SD indicates pretty homogenous starting population
				// enforce boundaries
				hap = pmax(STR_min, pmin(STR_max, hap));
				
				// add to dictionaries
				key = asString(ind.pedigreeID);
				Ystr.setValue(key, hap);
				IndHG.setValue(key, hg_name);
				
				// assign patriline ID to each source male
				PatID.setValue(key, nextPatID);
				nextPatID = nextPatID + 1;
			}    
		}
	}
//	print(IndHG);
}

// ======================================================
// create founding population that migrates away from the original population
50 early() {
    sim.addSubpop("p2", 0); // starting with zero individuals

    // get all males in p1
    males = p1.individuals[p1.individuals.tag == Male];

    // separate males by haplogroup
    hg1_males = males[sapply(males, "IndHG.getValue(asString(applyValue.pedigreeID)) == 'HG1';")];
    hg2_males = males[sapply(males, "IndHG.getValue(asString(applyValue.pedigreeID)) == 'HG2';")];

    // get unique patrilines for each haplogroup
    hg1_pats = unique(sapply(hg1_males, "PatID.getValue(asString(applyValue.pedigreeID));"));
    hg2_pats = unique(sapply(hg2_males, "PatID.getValue(asString(applyValue.pedigreeID));"));

    // choose 5 patrilines from each haplogroup (or all if <5)
    chosen_hg1 = sample(hg1_pats, min(5, size(hg1_pats)));
    chosen_hg2 = sample(hg2_pats, min(5, size(hg2_pats)));
    chosen_pats = c(chosen_hg1, chosen_hg2);

    // collect all males belonging to chosen patrilines
    migrating_males = males[
        sapply(males,
               "any(PatID.getValue(asString(applyValue.pedigreeID)) == chosen_pats);")
    ];

    // migrate a random subset of females from the p1 population
    females = p1.individuals[p1.individuals.tag == Female];
    num_females_to_migrate = length(migrating_males);
    migrating_females = sample(females, min(num_females_to_migrate, size(females)));

    catn("Migrating " + length(migrating_males) + " males from " +
         length(chosen_pats) + " patrilines");
    catn("Migrating " + length(migrating_females) + " females");

    // print haplotypes for males
//    catn("\n=== FOUNDER MALE HAPLOTYPES ===");
//    for (ind in migrating_males) {
//        keyM = asString(ind.pedigreeID);
//        catn("ID: " + ind.pedigreeID +
//             " | PatID: " + PatID.getValue(keyM) +
//             " | Haplogroup: " + IndHG.getValue(keyM) +
//             " | Haplotype: " + paste(Ystr.getValue(keyM), sep=","));
//    }

    // migrate both males and females
    for (ind in c(migrating_males, migrating_females)) {
        p2.takeMigrants(ind);
    }
}

// ======================================================
// set reproduction with Y chromosome inheritance and STR mutations for p1
reproduction(p1) {
	// reproductive age range
	if (individual.age < 18 | individual.age > 40 ) return; 
	
	// find potential mates of opposite sex 
	potentialMates = subpop.individuals[(subpop.individuals.tag != individual.tag)]; // don't cross breed
	mate = sample(potentialMates, 1); // pick one random mate
	
	// create expected offspring within carrying capacity
	expectedOffspring = 1 + r * (1 - length(subpop.individuals) / p1_K);
	
	// create realized offspring
	if (expectedOffspring > 0) {
		realizedOffspring = rpois(n = 1, lambda = expectedOffspring);
		
		for (i in seqLen(realizedOffspring)) {
			if (individual.tag == Male) {
				offspring = subpop.addCrossed(individual, mate);
				father = individual; // if current individual is male, assign as father
		} else {
				offspring = subpop.addCrossed(mate, individual);
				father = mate;
			}
		// assign sex to offspring using tag
		offspring.tag = (runif(1) < 0.5) ? Male else Female;
		// all newborns are zero years old
		offspring.age = 0;
	
	// if baby is male, inherit father's Y-STR haplotype and haplogroup
	if (offspring.tag == Male) {
		keyF = asString(father.pedigreeID); // get father's key in the dictionary
		keyOff = asString(offspring.pedigreeID);
		
		if (!isNULL(Ystr.getValue(keyF))) { // make sure that the father's key value is present (why wouldn't it be? need to troubleshoot)
			hap = Ystr.getValue(keyF);
			hapG = IndHG.getValue(keyF);
			pat = PatID.getValue(keyF); // inherit patriline identifier
			
		// apply stepwise mutations to baby's haplotype
		mutLoci = c();
		for (l in 0:(num_STR_loci -1)) {
			if (runif(1) < locus_mu[l]) mutLoci = c(mutLoci, l);
		}
			if (!isNULL(mutLoci) & size(mutLoci) > 0) {
				for ( l in mutLoci) {
					stepDir = (runif(1) < STR_step_prob) ? 1 else -1;
					newVal = hap[l] + stepDir;
				
					// enforce boundaries
					if (newVal < STR_min) newVal = STR_min;
					else if (newVal > STR_max) newVal = STR_max;
				
					// assign new mutation to loci
					hap[l] = newVal;	
			}
		}

				// add male offspring to Ystr dictionary
				keyOff = asString(offspring.pedigreeID);
				Ystr.setValue(keyOff, hap);
				IndHG.setValue(keyOff, hapG); // inherit father's haplogroup 
				PatID.setValue(keyOff, pat); // inherit father's patriline id
				}
			}
		}
	}
}

// ======================================================
// set reproduction with Y chromosome inheritance and STR mutations for p2
reproduction(p2) {
	// reproductive age range
	if (individual.age < 18 | individual.age > 40) return; 
	
potentialMates = subpop.individuals[(subpop.individuals.tag != individual.tag)];

// if no available mates, skip reproduction
if (length(potentialMates) == 0)
    return;

mate = sample(potentialMates, 1);
	// gradually increase K for p2 to simulate population expansion
	p2_K = p2_K_init + asInteger((p2_K_max - p2_K_init) * (community.tick - 50) / 200);
//	print(p2_K);
	
	// create expected offspring within carrying capacity
	expectedOffspring = 1 + r * (1 - length(subpop.individuals) / p2_K);
	
	// create realized offspring
	if (expectedOffspring > 0) {
		realizedOffspring = rpois(n = 1, lambda = expectedOffspring);
		
		for (i in seqLen(realizedOffspring)) {
			if (individual.tag == Male) {
				offspring = subpop.addCrossed(individual, mate);
				father = individual; // if current individual is male, assign as father
		} else {
				offspring = subpop.addCrossed(mate, individual);
				father = mate;
			}
		// assign sex to offspring using tag
		offspring.tag = (runif(1) < 0.5) ? Male else Female;
		// all newborns are zero years old
		offspring.age = 0;
	
	// if baby is male, inherit father's Y-STR haplotype and haplogroup
	if (offspring.tag == Male) {
		keyF = asString(father.pedigreeID); // get father's key in the dictionary
		
		if (!isNULL(Ystr.getValue(keyF))) { // make sure that the father's key value is present (why wouldn't it be? need to troubleshoot)
			hap = Ystr.getValue(keyF);
			hapG = IndHG.getValue(keyF);
			
		// apply stepwise mutations to baby's haplotype
		mutLoci = c();
		for (l in 0:(num_STR_loci -1)) {
			if (runif(1) < locus_mu[l]) mutLoci = c(mutLoci, l);
		}
			if (!isNULL(mutLoci) & size(mutLoci) > 0) {
				for ( l in mutLoci) {
					stepDir = (runif(1) < STR_step_prob) ? 1 else -1;
					newVal = hap[l] + stepDir;
				
					// enforce boundaries
					if (newVal < STR_min) newVal = STR_min;
					else if (newVal > STR_max) newVal = STR_max;
				
					// assign new mutation to loci
					hap[l] = newVal;	
			}
		}

				// add male offspring to Ystr dictionary
				keyOff = asString(offspring.pedigreeID);
				Ystr.setValue(keyOff, hap);
				IndHG.setValue(keyOff, hapG); // inherit father's haplogroup 
				}
			}
		}
	}
}

// ======================================================
// age based survival probability
early() {
	for (ind in sim.subpopulations.individuals) {
		ind.age = ind.age + 1; // age population each tick 
	}
	
	inds_to_kill = c();
	
	// prob of randomly dying 
	if (ind.age < 10) survival_prob = 0.90;
	else if (ind.age >= 10 & ind.age < 18) survival_prob = 0.98;
	else if (ind.age >= 18 & ind.age <= 45) survival_prob = 0.99;
	else if (ind.age > 45 & ind.age <= 60) survival_prob = 0.95;
	else if (ind.age > 60 & ind.age <= 70) survival_prob = 0.85;
	else if (ind.age > 70 & ind.age <= 80) survival_prob = 0.60;
	else if (ind.age > 80) survival_prob = 0.20;
	
	// remove dead males from dictionaries 
	if (runif(1) > survival_prob) {
		if (ind.tag == Male) {
			key = asString(ind.pedigreeID);
			if (!isNULL(Ystr.getValue(key))) {
				Ystr.setValue(key, NULL);
			}
		}
		inds_to_kill = c(inds_to_kill, ind);
	}
	
	// kill individuals who fail survival check
	if (length(inds_to_kill) > 0) {
		sim.killIndividuals(inds_to_kill);
	}
	
	// additional carrying capacity based mortality
	for (subpop in sim.subpopulations) {
		N = subpop.individualCount;
		// use K based on population
		if (subpop.name == "p1") {
			current_K = p1_K;
		} else if (subpop.name == "p2") {
			current_K = p2_K;
		} else {
			continue; // placeholder for other pops 
		}
		
		if (N > current_K) {
			deathProb = (N - current_K) / (N * 3);
			// massacre!
			randVal = runif(N);
			toKill = subpop.individuals[randVal < deathProb];
			
			// remove killed off males from dictionary
			if (length(toKill) > 0) {
				for (ind in toKill) {
					if (ind.tag == Male) {
						key = asString(ind.pedigreeID);
						if (!isNULL (Ystr.getValue(key))) {
							Ystr.setValue(key, NULL);
						}
					}
				}
				sim.killIndividuals(toKill);
			}
		}
	}
}

// ======================================================
// get final generation male haplotypes list
500 late() { 
	males_p2 = p2.individuals[p2.individuals.tag == Male];
	males_p1 = p1.individuals[p1.individuals.tag == Male];
	catn("Final founder generation: " + sim.cycle + ": " + length(males_p2));
	
	// randomly subsample an equivalent number of males from the p1 population to compare to p2
	sampled_p1_males = sample(males_p1, length(males_p2));
	
		// populate individual IDs and haplotypes from list of surviving males
		header = "Sample_ID,Pop,Pat_ID";
		for (l in 1:num_STR_loci) {
			header = header + ",locus" + l;
		}
		header = header + ",HG\n";

	// process all p2 males and their haplotypes with FOUND_ prefix using for loop
	lines = c();
	for (i in seqAlong(males_p2)) {
		ind = males_p2[i];
		key = asString(ind.pedigreeID);
		hap = Ystr.getValue(key);
		hg = IndHG.getValue(key);
		pat_id = PatID.getValue(key);
		if (!isNULL(hap)) {
			line = paste0('FOUND_', (i+1), ',found,', paste('patID', pat_id, sep='_'), paste(hap, sep=','), ',', hg);
			lines = c(lines, line);
		}
	}
	
	// process all p1 males and their haplotypes with SOURCE_ prefix using for loop
	start_index = length(males_p2) + 1; // set index at end count of p2 males
	for (i in seqAlong(sampled_p1_males)) {
		ind = sampled_p1_males[i];
		key = asString(ind.pedigreeID);
		hap = Ystr.getValue(key);
		hg = IndHG.getValue(key);
		pat_id = PatID.getValue(key);
		if (!isNULL(hap)) {
			line = paste0('SOURCE_', (i+1), ',source,', paste('patID', pat_id, sep='_'), paste(hap, sep=','), ',', hg);
			lines = c(lines, line);
		}
	}
		
		// remove any NULL entries
		lines = lines[!sapply(lines, "isNULL(applyValue);")];
		
		// combine header and data 
		file_content = header + paste(lines, sep="\n");
		
		// write to file
		setwd(workingdir);
		if (!writeFile(fname, file_content))
			stop("Error writing file");
		catn("File written to: " + getwd() + "/" + fname);	
}